*
!Anthony/
!Anthony/get_all_video_links.py
!Anthony/links.txt
!Anthony/download_videos.py
!Anthony/generate_spectorgrams.py
!Anthony/build_dataset.py
!Anthony/generate_spectrograms_child.py
!Alex/
!Alex/placeholder.txt
!Maya/
!Maya/placeholder.txt
!Alan/
!Alan/placeholder.txt